
.page-wrapper {
    background-color: #fff; 
    color: #1a1a1a; 
    width: 100%;
}

.about-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
    min-height: 80vh;
    gap: 50px;
}

.intro-badge {
    color: #b833e1;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 18px;
}

.hero-name {
    font-size: 60px ;
    color: #1a1a1a;
    margin: 10px 0;
    font-family: 'Playfair Display', serif;
}

.hero-role {
    font-size: 25px;
    color: #666;
    margin-bottom: 20px;
}

.hero-summary {
    font-size: 20px;
    line-height: 1.6;
    color: #444;
    max-width: 550px;
}

.hero-details {
    margin: 20px 0px;
    color: #888;
    border-left: 3px solid #b833e1;
    padding-left: 20px;
}

.hero-btn {
    padding: 14px 32px;
    background: #1a1a1a;
    border: none;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
}

.hero-btn:hover {
    background: #b833e1;
    transform: translateY(-3px);
}

.hero-visual {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1; 
}

.animated-img {
    width: 80%;
    max-width: 450px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; 
    animation:  6s ease-in-out infinite,  8s ease-in-out infinite;
    box-shadow: 0 20px 50px rgba(184, 51, 225, 0.2);
}


@media (max-width: 768px) {
    .about-hero {
        flex-direction: column-reverse;
        text-align: center;
        padding: 40px 5%;
    }

    .hero-details {
        border-left: none;
        border-top: 3px solid #b833e1;
        padding: 10px;
    }

    .hero-name {
        font-size: 50px;
    }
    .animated-img{
        width: 60%;
    }

}