.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.greeting {
  font-size: 25px;
  margin-bottom: 10px;
  font-family: 'Playfair Display', serif
  
}

.hero-title {
    font-family: 'Playfair Display', serif;
  font-size: 64px;
  line-height: 1.1;
  margin: 10px 0 25px 0;
  max-width: 900px;
}

.hero-description {
  color: #666;
  max-width: 600px;
  line-height: 1.7;
  margin-bottom: 40px;
  font-family: "SN Pro", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
}

.hero-btns {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
}

.btn-primary , .btn-secondary {
  background: white;
  border: 1.5px solid #000;
  padding: 15px 35px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

.btn-primary:hover {
    background: #1a1a1a; 
    color: #fff;        
    transition: 0.3s ease;}

.btn-secondary:hover {
    background: #1a1a1a; 
    color: #fff;        
    transition: 0.3s ease;}

    @media ( screen : 768px){
      .greeting{
        font-size: 20px;
      }
      .hero-title{
          font-size: 50px;
      }
    }