.tech-stack-container {
  padding:20px 8%;
  max-width: 1500px;
}

.headder p{
    font-size: 18px;
}
.headder {
    line-height:2;
  text-align: center;
  margin-bottom: 60px;
}

.stack-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 30px;
  
}

.category-label {
  margin-bottom: 25px;
  border-left: 4px solid #b833e1;
  padding-left: 15px;
}

.category-label h3 {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
}

.label-desc {
  font-size: 12px;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 15px ;
  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 16px;
  transition: all 0.3s ease;
  cursor: default;
}


.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  border-color: #b833e1;
}

.skill-icon {
  font-size: 30px;
  margin-bottom: 8px;
}

.skill-name {
  font-size: 15px;
  font-weight: 500;
  color: #333;
}


@media (max-width: 768px) {
  .tech-title {
    font-size: 35px;
  }
  .skills-grid {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 15px;
  }
}