.footer {
  width: 100%;
  background-color:rgba(139, 131, 131, 0.4); 
  border-top: 1px solid #0000;
  padding: 20px 8%;
  margin-top: auto; 
}

.footer-container {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.footer-logo span {
    font-size: 30px;
  color: #b833e1;
}

.footer-left p {
  font-size: 15px;
  color: #888;
}

.footer-links {
  display: flex;
  gap: 50px;
}

.footer-link {
  text-decoration: none;
  color: #555;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #000;
}


@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .footer-links {
    flex-direction: column;
    gap: 10px;
  }
}